## TPC2 tarefa 2 - Python

In [17]:
import csv
import numpy as np
import pandas as pd
pd.set_option('display.min_rows', 20)
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### <font color = 'green'>World Cup with Pandas</font>
Solve the problems using the data in Pandas dataframes.

In [19]:
# Read the Players and Teams data into dataframes
Op = open('Players.csv')
playersDF = pd.read_csv(Op)
Op = open('Teams.csv')
teamsDF = pd.read_csv(Op)

In [20]:
#Qual jogador (print do ultimo nome) de uma equipa com "ia" no nome, 
#que jogou menos de 200 minutos e fez mais de 100 passes?
Jogador = playersDF[playersDF.team.str.contains("ia") & (playersDF.minutes < 200) & (playersDF.passes > 100)]
Jogador

        surname    team    position  minutes  shots  passes  tackles  saves
431  Kuzmanovic  Serbia  midfielder      180      4     103        1      0

In [21]:
# Qual é o número médio de passes feitos pelos avançados? Pelos meio-campistas?
# Verifique se a resposta especifica qual é qual e não inclua outras
# posições no seu resultado.


passesmedios = playersDF.loc[playersDF["position"]=="midfielder"]["passes"].mean()
passesavançados = playersDF.loc[playersDF["position"]=="forward"]["passes"].mean()
    
    
print(((str(passesmedios)) + " é numero médio de passes feitos por jogadores médios"))
print(((str(passesavançados)) + " é numero média de passes feitos por jogadores avançados"))

95.2719298245614 é numero médio de passes feitos por jogadores médios
50.82517482517483 é numero média de passes feitos por jogadores avançados

In [22]:
# Qual equipe tem a maior relação (razão, racio, etc) de goalsFor versus goalsAgainst?
# Imprima apenas o nome da equipa.
# Dica: adicione uma coluna "racio" ao dataframe das equipas e, depois, faça o seu "sort" e, 
# em seguida, use a head(1) ou tail(1) ...

teamsDF["Racio"] = teamsDF.goalsFor/teamsDF.goalsAgainst
teamsDFsorted = teamsDF.sort_values(\
                        by = "Racio",\
                        inplace = False,
                        ascending = False)
teamsDFsorted.reset_index(drop = False, inplace = True)

teamsDFsorted.team.iloc[0]

'Portugal'

In [23]:
# Quantos jogadores que jogam numa equipa com ranking <10, 
# jogaram mais de 350 minutos?
# Lembrete: len() fornece o número de linhas que um dataframe contém


#defenir uma variavel teams com valor de equip com rank menos 10
teams = teamsDF.loc[teamsDF["ranking"]<10]["team"].values

# buscar jogadores que estão na variavel defenida anteriormente
jogador = playersDF.iloc[[team for team in range(len(playersDF["team"])) if playersDF["team"][team] in teams]]

# defenir variavel que contem apenas quem esta acima dos 350 minutos
jogador = jogador.loc[jogador["minutes"]>350]

# print de da string com comprimento do numero integral de jogadores
print( str(len(jogador)) + " jogadores fizeram mais de 350 minutos")
jogador

54 jogadores fizeram mais de 350 minutos

,surname,team,position,minutes,shots,passes,tackles,saves
21,Demichelis,Argentina,defender,450,1,218,7,0
22,Di Maria,Argentina,midfielder,356,7,148,12,0
24,Heinze,Argentina,defender,360,3,188,6,0
26,Mascherano,Argentina,midfielder,360,0,237,19,0
28,Messi,Argentina,forward,450,21,321,10,0
34,Romero,Argentina,goalkeeper,450,0,47,0,10
60,Fabiano,Brazil,forward,418,9,89,4,0
62,Gilberto Silva,Brazil,midfielder,450,3,299,11,0
65,Juan,Brazil,defender,450,4,223,9,0
66,Julio Cesar,Brazil,goalkeeper,450,0,69,0,10
69,Lucio,Brazil,defender,450,1,223,14,0
70,Maicon,Brazil,defender,450,6,249,11,0
72,Michel Bastos,Brazil,defender,422,7,224,14,0
75,Robinho,Brazil,forward,354,9,181,5,0
135,Ashley Cole,England,defender,360,0,142,12,0
140,Gerrard,England,midfielder,360,10,227,5,0
141,Glen Johnson,England,defender,357,3,173,17,0
147,Lampard,England,midfielder,360,11,232,3,0
151,Terry,England,defender,360,2,223,3,0
176,Friedrich,Germany,defender,540,1,244,16,0
179,Khedira,Germany,midfielder,517,6,279,16,0
181,Klose,Germany,forward,356,11,83,4,0
183,Lahm,Germany,defender,540,0,360,17,0
185,Mertesacker,Germany,defender,540,0,282,9,0
186,Mueller,Germany,forward,383,7,165,9,0
187,Neuer,Germany,goalkeeper,540,0,99,0,20
188,Podolski,Germany,forward,531,17,217,9,0
189,Schweinsteiger,Germany,midfielder,531,5,423,23,0
191,Ozil,Germany,midfielder,497,7,266,3,0
323,Heitinga,Netherlands,defender,540,0,259,10,0
325,Kuyt,Netherlands,forward,516,11,248,7,0
326,Mathijsen,Netherlands,defender,450,1,265,8,0
329,Sneijder,Netherlands,midfielder,532,15,279,7,0
330,Stekelenburg,Netherlands,goalkeeper,540,0,149,0,15
332,Van der Wiel,Netherlands,defender,360,0,189,2,0
333,de Jong,Netherlands,midfielder,448,1,250,15,0
335,van Bommel,Netherlands,midfielder,540,2,307,31,0
336,van Bronckhorst,Netherlands,defender,540,1,271,10,0
337,van Persie,Netherlands,forward,479,14,108,1,0
408,Bruno Alves,Portugal,defender,360,1,166,5,0
409,Carvalho,Portugal,defender,360,2,173,11,0
413,Eduardo,Portugal,goalkeeper,360,0,51,0,17
415,Fabio Coentrao,Portugal,defender,360,1,152,13,0
422,Ronaldo,Portugal,forward,360,18,91,3,0
517,Alonso,Spain,midfielder,506,9,465,18,0
519,Busquets,Spain,midfielder,511,0,466,15,0
520,Capdevila,Spain,defender,540,1,310,10,0
521,Casillas,Spain,goalkeeper,540,0,67,0,11
523,Iniesta,Spain,midfielder,437,8,299,11,0
530,Pique,Spain,defender,540,2,402,15,0
531,Puyol,Spain,defender,534,3,254,8,0
532,Ramos,Spain,defender,527,9,299,7,0
535,Villa,Spain,forward,529,22,169,2,0
536,Xavi,Spain,midfielder,515,4,563,6,0

### <font color = 'green'>Titanic with Pandas</font>
Solve the problems using the data in Pandas dataframe.

In [24]:
# Read the Titanic data into a dataframe
f = open('Titanic.csv')
titanicDF = pd.read_csv(f)
titanicDF

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no
5,Moran,Mr. James,M,NaN,3,8.4583,Queenstown,no
6,McCarthy,Mr. Timothy J,M,54.0,1,51.8625,Southampton,no
7,Palsson,Master Gosta Leonard,M,2.0,3,21.0750,Southampton,no
8,Johnson,Mrs. Oscar W (Elisabeth Vilhelmina Berg),F,27.0,3,11.1333,Southampton,yes
9,Nasser,Mrs. Nicholas (Adele Achem),F,14.0,2,30.0708,Cherbourg,yes
...,...,...,...,...,...,...,...,...
881,Markun,Mr. Johann,M,33.0,3,7.8958,Southampton,no
882,Dahlberg,Miss Gerda Ulrika,F,22.0,3,10.5167,Southampton,no
883,Banfield,Mr. Frederick James,M,28.0,2,10.5000,Southampton,no
884,Sutehall,Mr. Henry Jr,M,25.0,3,7.0500,Southampton,no
885,Rice,Mrs. William (Margaret Norton),F,39.0,3,29.1250,Queenstown,no
886,Montvila,Rev. Juozas,M,27.0,2,13.0000,Southampton,no
887,Graham,Miss Margaret Edith,F,19.0,1,30.0000,Southampton,yes
888,Johnston,"Miss Catherine Helen ""Carrie""",F,NaN,3,23.4500,Southampton,no
889,Behr,Mr. Karl Howell,M,26.0,1,30.0000,Cherbourg,yes
890,Dooley,Mr. Patrick,M,32.0,3,7.7500,Queenstown,no

In [25]:
# Quantas mulheres casadas embarcaram em Cherbourg?
# Nota: 'first' é uma função no Pandas, então 'titanic.first' irá gerar um erro;
# use 'titanic[' first ']

mulher_casada = titanicDF.iloc[[value for value in range(len(titanicDF["first"].values))
                                if "Mrs" in titanicDF["first"].values[value]]]

embarq_cherbourg = mulher_casada.loc[mulher_casada["embarked"]=="Cherbourg"]

print("As mulheres casadas que embarcaram em Cherbourg foram: " + str(len(embarq_cherbourg)))


#Para perceber o numero de mulheres casadas, defenimos duas variáveis:
#Determinar as mulheres casadas através de uma variável,que se encontra no dataframe titanic, e na coluna "first" e perceber
#quais são as mulheres que apresentam "mrs" no seu nome, sendo por isso casadas. Se for verdade fica na variável.
#Na outra parte, defenimos que mulheres casadas embarcaram em Cherbourg.
#Para isto, definimos a variável embarq_cherbourg, e através da função loc, procuramos as mulhers que
#dentro da variável anterior tinham o valor "cherbourg" no "embarked". E através do print, conseguimos ver
#a quantidade de mulheres casadas que embarcaram em "cherbourg".

As mulheres casadas que embarcaram em Cherbourg foram: 33

In [26]:
# Liste a tarifa média paga pelos passageiros em cada uma das cidades de embarque.

#Para ver quais as cidades onde embarcaram passageiros
city = titanicDF.embarked.unique()


Embarcaram_S = titanicDF[titanicDF["embarked"] == ("Southampton")]["fare"].mean() #Southampton

Embarcaram_C = titanicDF[titanicDF["embarked"] == ("Cherbourg")]["fare"].mean() #Cherbourg

Embarcaram_Q = titanicDF[titanicDF["embarked"] == ("Queenstown")]["fare"].mean() #Queenstown

print("A tarifa média de Southamton é: " + str((Embarcaram_S)))
print("A tarifa média de Cherboug é: " + str((Embarcaram_C)))
print("A tarifa média de Queenstown é: " + str((Embarcaram_Q)))

A tarifa média de Southamton é: 27.243651393188795
A tarifa média de Cherboug é: 59.95414404761905
A tarifa média de Queenstown é: 13.276029870129872

In [27]:
# Os valores inexistentes (missing)  no Pandas são nulos (null), impressos como 'NaN' e
# a function pd.isnull(v) verifica se um valor é nulo.
# Que fração dos passageiros não tem valor para a idade?

IsNull = titanicDF.isnull().sum(axis = 0)
NúmeroP = len(titanicDF)
NúmeroPIdade = IsNull.age


Perc = int(NúmeroPIdade/NúmeroP*100)

print(Perc,"% dos passageiros que não têm um valor para a idade")

19 % dos passageiros que não têm um valor para a idade